[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apistar = {version = "==0.3.9"}
u-msgpack-python = "*"
msgpack = "*"
"base58" = "*"
python-dateutil = "*"
pycryptodomex = "*"
gunicorn = "*"
meinheld = "*"
kombu = "*"
jsonrpc-requests = "*"


[dev-packages]

ipython = "*"
ipdb = "*"
pytest = "*"
freezegun = "*"
pytest-mock = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
